.paragraph {
  position: absolute;
  max-width: 100%;
  min-width: 250px;
  min-height: 350px;
  width: 420px;
  height: 350px;

  padding: 10px;
  display: flex;
  flex-flow: column;
  background-color: #ffffff;
  margin: 1rem;
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;

  justify-content: flex-start;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}
